In [ ]:
import pandas as pd
from datetime import datetime, timedelta
from sqlalchemy import create_engine


start_date = datetime(2022, 1, 1)
end_date = datetime(2030, 12, 31)


date_range = pd.date_range(start=start_date, end=end_date, freq='D')
date_df = pd.DataFrame({'Date': date_range})


date_df['Year'] = date_df['Date'].dt.year
date_df['Month'] = date_df['Date'].dt.month
date_df['MonthName'] = date_df['Date'].dt.strftime('%B')
date_df['Day'] = date_df['Date'].dt.day
date_df['Week'] = date_df['Date'].dt.isocalendar().week
date_df['Quarter'] = date_df['Date'].dt.quarter
date_df['DayOfWeek'] = date_df['Date'].dt.dayofweek
date_df['DayName'] = date_df['Date'].dt.day_name()
date_df['IsWeekend'] = date_df['DayOfWeek'] >= 5


username = "root"
password = "<password>"
host = "localhost"
port = "3306"            
database = "transformed_data"

conn_str = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(conn_str)


date_df.to_sql('DateTable', con=engine, if_exists='replace', index=False)

print("✅ Date table successfully written to database.")

✅ Date table successfully written to database.

C:\Users\Alina.Baranauskiene\AppData\Local\Temp\ipykernel_38512\1485676024.py:37: UserWarning: The provided table name 'DateTable' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  date_df.to_sql('DateTable', con=engine, if_exists='replace', index=False)